*{
    margin: 0;
    font-family: 'Fira Code', monospace;
    text-align: center;
    box-sizing: border-box;
}

body{
  height:auto;
  width:100%;
}

.container{
    height:auto;
    width:100%;
    position: relative;
}
.inner-container{
    /* background: linear-gradient(134deg, rgba(16,47,190,1) 0%, rgba(171,57,203,1) 54%, rgba(251,99,88,1) 100%); */
    background: linear-gradient(134deg, rgba(255,69,0,1) 0%, rgba(255,131,0,1) 60%, rgba(223,54,45,1) 100%);
  
}

.menu{
    display: flex;
    flex-flow: column;
   justify-content: space-between;

}

.items{
    display: flex;
    justify-content: space-around;
    color:white;
    align-content: flex-end;

}
.items > *{
    padding:5px;
}

.icon > img{
    width:100%;
    height: auto;
}

.section2{
    padding:30px;
    color:white;
    font-size: 14px;
}
.wave{
    /* height:0vh !important; */
    /* width: 100%; */
    position:absolute;
    bottom:0vh;
    left:0px;
  }


.content{
        height: auto;
        /* background: url('second.jpg'); */
    background: #ff8300;

        background-size: cover;
        background-position: center;
        position:relative;
        padding:10px;
    }

.content > h1{
   margin:0px !important;
   color:white;
}
.wave2{
    position:absolute;
    top:0px;
    left: 0;
}
.first{
    display: flex;
    min-height: 300px;
    width: auto;
    color:white;
    align-items: center;
    justify-content: space-around;
    margin:10px;

}
.first > img{
    flex:0.5 !important;
    object-fit: contain;
}

.first > div{
    margin-left:10px;

}

.section3{
    width: auto;
    background:#067bc2;
    display: flex;
    padding:10px;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.why-section{
   color:white;
   background-repeat: no-repeat;
   background-position: left;
   text-align: left !important;
   font-size:20px;
   padding:10px;
}

.why-section > p{
    text-align: left;
}

.block{
    height: 250px;
    width:250px ;
    margin-bottom:20px;
    padding:10px;
    border-radius: 50px ;
    background:white;
    z-index: 9999 !important;
   border-radius: 68px;
    box-shadow:  10px 10px 20px black;
     /* -15px -15px 11px #ffffff;     */
}
.we-fix{
    padding-top:100px;
    position: relative;

}

.text{
    position: absolute;
    top:50px;
    font-size:16px;
    left:-10;
    color:white;
}

.waves{
    position:absolute;
    bottom:0px;
    left:0px;
}


.contact{
    /* height:100vh; */
    width:100%;
    background: #f9f1f9;
    padding-top:10px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.contact > div{
    padding:20px;
}

.contact-info-more{
    padding:20px;
    margin: 10px;
}
.repair-image{
    height:200px;
    width:auto;
}

.block > img{
    height: 100px !important;
    width: auto;
}
.map{
     margin:auto;
    width:90%;
    height:auto;
    box-shadow:  10px 10px 10px black;
}


.footer{
    background:#067bc2;

}

.bars{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.bars > *{
    margin-top: 20px;
   background: white;
   padding:0px;
   padding:10px;
   border-radius: 10px;

}

.bars > div:nth-child(1) {
    width:150px;
}


.bars > div:nth-child(2) {
    width:170px;
}


.bars > div:nth-child(3) {
    width:190px;
}


.bars > div:nth-child(4) {
    width:210px;
}

.bars > div:nth-child(5) {
    width:230px;
}
.footer > h1{
    color:white;
    margin-top:30px;
    padding-bottom:30px;
    font-size: 16px;
}
