*{
    margin: 0;
    font-family: 'Fira Code', monospace;
    text-align: center;
    box-sizing: border-box;
}
.title{
    color:white;
}

.container{
    height: 100vh;
    width:100%;
    position: relative;
}

.inner-container{
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(134deg,#FF8300,#FF4500); */
    background: linear-gradient(134deg, rgba(255,69,0,1) 0%, rgba(255,131,0,1) 60%, rgba(223,54,45,1) 100%);
    height:100vh;
    width:100%;
}
.menu{
    display: flex;
    justify-content: space-between;
}

.items{
    display: flex;
    justify-content: space-around;

}
.items > *{
    padding:20px;
    color:white;
}
.items > *:hover{
    border-bottom:4px solid red;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wave{
   /* height:0vh !important; */
   /* width: 100%; */
   position:absolute;
   bottom:0vh;
   left:0px;

 }

.repair-image{
    height: 400px;
    width:auto;
}

.content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    /* background:#FF4500 ; */
    background: #FF4500;

    color:white;
    /* background: url('second.jpg'); */

    background-size: cover;
    background-position: center;
    position:relative;
    /* box-shadow: -10px 100px 100px yellow; */
    background: #ff8300;
box-shadow:  -20px -20px 71px #000, 

}

.works{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.works > *{
    height: auto;
    width: 300px;
    /* background-color: wheat; */
}
.wave2{
    position:absolute;
    top:0px;
    left: 0;
}

.section3{
    height:100vh;
    width: auto;
    background:#067bc2;
    display: flex;
    align-items: center;
    padding:10px;
    justify-content: space-between;
    position: relative;
}

.why-section{
    flex: 0.5 !important;
   color:white;
   background-repeat: no-repeat;
   background-position: left;
   text-align: left !important;
   font-size:20px;
   padding:10px;
}

.why-section > p,.why-section > h1{
    text-align: left;
}

.block > img{
    height: 100px !important;
    width: auto;
}

.we-fix{
    /* margin-top: 10vh; */
    display: grid;
    grid-template-columns : 300px 300px;
    grid-auto-rows: 300px;
    gap:10px 20px;
    position: relative;
    /* border:2px solid red; */
    
}

.block{
    height: 250px;
    width:250px ;
    padding:10px;
    border-radius: 50px ;
    background:white;
    z-index: 100;
   border-radius: 68px;
    box-shadow:  10px 10px 20px black;
     /* -15px -15px 11px #ffffff;     */

}


.text{
    position: absolute ;
    top:35vh;
    font-size:30px;
    left:-300px;
    color:white;
    transform:rotate(-90deg);
}

.waves{
    position:absolute;
    bottom:0px;
    left:0px;
}

.contact{
    /* height:100vh; */
    width:100%;
    background: #f9f1f9;
    padding-top:10px;
    display: flex;
    justify-content: space-around;
}

.contact-info-more{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-info-more > *{
    display: flex;
    align-items: center;
    margin:20px;

}
.map{
    box-shadow:  10px 10px 20px black;
}



.footer{
    background:#067bc2;
    height:40vh;

}

.bars{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bars > *{
    margin-top: 20px;
   background: white;
   padding:20px;
   border-radius: 10px;

}

.footer > h1{
    color:white;
    margin-top:100px;
}

